---
layout: default
title: The changer team
keywords: team, about, changer, changer.nl, changer.in, development, django, mvc, asp.net, node.js, backbone.js, audittool, incident, management, portals, socialschools
summary: We build web and mobile applications. We use tools like django, node.js, backbone.js, phonegap and asp.net mvc fameworks to give solutions
---

<section class="about">
  <div class="row">
    <div class="span3">
      {% include about-sidebar.html %}
    </div>
    <div class="span9">
      <div class="content">
        <h2>Team</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>

        <div class="row team">


            <!-- ngRepeat: user in members -->
            <div class="span2 ng-scope" ng-repeat="user in members">
              <img ng-src="https://secure.gravatar.com/avatar/919bafb7511400913201ee7bd41d8c2d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200" src="https://secure.gravatar.com/avatar/919bafb7511400913201ee7bd41d8c2d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200">
              <center class="ng-binding">aderjaan</center>
            </div><div class="span2 ng-scope" ng-repeat="user in members">
              <img ng-src="https://secure.gravatar.com/avatar/15e9a84d56832d5052b704d99506ba3b?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200" src="https://secure.gravatar.com/avatar/15e9a84d56832d5052b704d99506ba3b?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200">
              <center class="ng-binding">anit</center>
            </div><div class="span2 ng-scope" ng-repeat="user in members">
              <img ng-src="https://secure.gravatar.com/avatar/7d0f56896e093ef13fb86303ffbefbb6?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200" src="https://secure.gravatar.com/avatar/7d0f56896e093ef13fb86303ffbefbb6?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200">
              <center class="ng-binding">henkjanverkerk</center>
            </div><div class="span2 ng-scope" ng-repeat="user in members">
              <img ng-src="https://secure.gravatar.com/avatar/60e0e5accdb982c3094dcc6e8aa757f2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200" src="https://secure.gravatar.com/avatar/60e0e5accdb982c3094dcc6e8aa757f2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200">
              <center class="ng-binding">jonathanstolk</center>
            </div><div class="span2 ng-scope" ng-repeat="user in members">
              <img ng-src="https://secure.gravatar.com/avatar/4c406ac1f5f66ac1adc6d9efcf5cb4ee?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200" src="https://secure.gravatar.com/avatar/4c406ac1f5f66ac1adc6d9efcf5cb4ee?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200">
              <center class="ng-binding">josjevv</center>
            </div><div class="span2 ng-scope" ng-repeat="user in members">
              <img ng-src="https://secure.gravatar.com/avatar/67a45b514a6d57c32e21f050d6fb3667?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200" src="https://secure.gravatar.com/avatar/67a45b514a6d57c32e21f050d6fb3667?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200">
              <center class="ng-binding">krunalrasik</center>
            </div><div class="span2 ng-scope" ng-repeat="user in members">
              <img ng-src="https://secure.gravatar.com/avatar/004b12d98b96c13ffff1036911365805?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200" src="https://secure.gravatar.com/avatar/004b12d98b96c13ffff1036911365805?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200">
              <center class="ng-binding">madhums</center>
            </div><div class="span2 ng-scope" ng-repeat="user in members">
              <img ng-src="https://secure.gravatar.com/avatar/e2a96cf7d7dd59e3f4d3adc95a69e9df?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200" src="https://secure.gravatar.com/avatar/e2a96cf7d7dd59e3f4d3adc95a69e9df?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200">
              <center class="ng-binding">mariekevanderzwan</center>
            </div><div class="span2 ng-scope" ng-repeat="user in members">
              <img ng-src="https://secure.gravatar.com/avatar/7f5aa12e7f0c7433b52d50a7cc248a3c?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200" src="https://secure.gravatar.com/avatar/7f5aa12e7f0c7433b52d50a7cc248a3c?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200">
              <center class="ng-binding">mubeenh</center>
            </div><div class="span2 ng-scope" ng-repeat="user in members">
              <img ng-src="https://secure.gravatar.com/avatar/47da25a219d5ae272b87d99351cc5adc?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200" src="https://secure.gravatar.com/avatar/47da25a219d5ae272b87d99351cc5adc?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200">
              <center class="ng-binding">neokya</center>
            </div><div class="span2 ng-scope" ng-repeat="user in members">
              <img ng-src="https://secure.gravatar.com/avatar/f294b24e629afac0be710b4aea4ae28b?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200" src="https://secure.gravatar.com/avatar/f294b24e629afac0be710b4aea4ae28b?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200">
              <center class="ng-binding">pdvyas</center>
            </div><div class="span2 ng-scope" ng-repeat="user in members">
              <img ng-src="https://secure.gravatar.com/avatar/e12d0419f5733426a07b011282305c3b?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200" src="https://secure.gravatar.com/avatar/e12d0419f5733426a07b011282305c3b?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200">
              <center class="ng-binding">RobertKorteland</center>
            </div><div class="span2 ng-scope" ng-repeat="user in members">
              <img ng-src="https://secure.gravatar.com/avatar/793a96c9d52e0d669dd413ed69a930d3?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200" src="https://secure.gravatar.com/avatar/793a96c9d52e0d669dd413ed69a930d3?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;s=200">
              <center class="ng-binding">rubenstolk</center>
            </div>



        </div>
      </div>
    </div>
  </div>
</section>
