
/*
================================================
  Generic
================================================
*/

body {
  font-family:"Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 23px;
}

h1, h2, h3, h4{
  font-family: "Century Gothic", "Helvetica", Arial, sans-serif;
}

a{
  font-weight: 200;
  border-bottom: 1px dashed #00ade4;
  color: #00ade4;
  font-size: 16px;
}

a:hover{
  text-decoration: none;
  border-bottom: 1px dashed #1d6193;
}

hr{
  border-top: 1px dashed white;
  border-bottom: none;
}

header {
  margin: 10px 0 10px 0;
}

.front {
  padding-bottom: 50px;
  margin-top: 20px;
  background: url("../img/devices.png") no-repeat right bottom;
}

.tagline{
  text-align: left;
  font-size: 60px;
}

h3 {
  font-weight: 400;
  font-style: normal;
  color: #555;
  font-size: 36px;
}

h2 {
  font-weight: 400;
  font-style: normal;
  color: #555;
}

li {
  line-height: 23px;
}

.tright {
  text-align: right;
}

.tcenter {
  text-align: center;
}

.content-wrap{
  padding-top: 20px;
  border-top: 1px solid white;
  min-height: 100%;
}

.logo, .logo:hover{
  border: none;
}

/*
================================================
  Front page
================================================
*/

.front .tagline {
  font-family: "Century Gothic", "Helvetica", Arial, sans-serif;
  color: #caf1fa;
  margin-bottom: 10px;
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
  padding: 10px 0px;
}

.front .tagline span{
  font-size: 80px;
  color: white;
  font-weight: 600;
}

.front .description{
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  color: #333;
  width: 400px;
  margin-bottom: 40px;
}

.about .description, .contact .description {
  width: 500px;
  margin-bottom: 40px;
}

.marketing {
  color: #555;
  margin-top: 10px;
}

.product-description{
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-description h4{
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  color: #555;
  font-weight: 200;
  font-size: 24px;
}

.product-logo{
  margin-top: 20px;
}

.project-list{
  list-style: none;
  margin-left: 0;
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  color: #555;
  font-weight: 200;
  font-size: 24px;
}

.project-list li{
  margin-top: 20px;
}

.logo-small, .logo-small:hover{
  border-bottom: none;
}

.portfolio-link, .portfolio-link a{
  font-size: 24px;
  font-weight: 100;
}

/*
================================================
  Header
================================================
*/
.header-wrap{
  background: black;
}

header ul.menu {
  text-align: right;
  margin: 0 0 0 25px;
}

header ul.menu li {
  display: inline;
  list-style-type: none;
  margin-left: 50px;
}

header ul.menu li a {
  font-size: 14px;
  font-weight: 200;
  border-bottom: none;
}

header ul.menu li a:hover, header ul.menu li.active a {
  font-size: 14px;
  color: white;
}

header ul.menu li:hover, header ul.menu li.active {
  border-bottom: 1px solid #000;
}

header ul.menu li a:hover {
  text-decoration: none;
}

.blue a{
  color: #00ade4;
}

.darkblue, .darkblue a{
  color: #1d6193;
}

.green, .green a{
  color: #72b52b;
}

.brown a{
  color: #8e7e70;
}

/*
================================================
  Hero
================================================
*/

.hero-wrap {
  background: #00ade4; /* Old browsers */
  background: -moz-linear-gradient(left, #00ade4 0%, #0ce5ff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00ade4), color-stop(100%,#0ce5ff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #00ade4 0%,#0ce5ff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #00ade4 0%,#0ce5ff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #00ade4 0%,#0ce5ff 100%); /* IE10+ */
  background: linear-gradient(to right, #00ade4 0%,#0ce5ff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ade4', endColorstr='#0ce5ff',GradientType=1 ); /* IE6-9 */
  padding-bottom: 10px;
  padding-top: 50px;
  /*box-shadow: 0 0px 1px #333;*/
}

.hero-wrap a{
  color: #caf1fa;
  border-bottom: 1px dashed #caf1fa;
}

.hero-wrap h2{
  margin-bottom: 30px;
}

/*
================================================
  Sidebar
================================================
*/

.sidebar ul.menu {
  margin: 0 0 50px 0;
  clear: both;
}

.sidebar ul.menu li {
  list-style-type: none;
  float: left;
  margin-left: 50px;
}

.sidebar ul.menu li:first-child {
  margin-left: 0;
}

.sidebar ul.menu li:last-child {
  border-bottom: 0;
}

.sidebar ul.menu li a {
  font-size: 16px;
  color: white;
  border-bottom: 1px dashed white;
}

.sidebar ul.menu li a:hover {
  text-decoration: none;
}



/*
================================================
  About
================================================
*/

section.about, section.products, section.contact {
}

.about hr{
  border-bottom: 1px dashed #00ade4;
}

.about-header{
  margin-top: 40px;
}

.team img {
  border-radius:10px;
  margin: 10px 10px;
  height: 150px;
}

.team .span2 {
  width: 150px;
  height: 195px;
}

.expertise{
  color: #00ade4;
}

.team-spacer{
  margin-left: 80px;
}

.row-teammember{
  margin-top: 40px;
}

.row-teammember h4{
  margin: 0;
}

.about h3{
}

.about h2{
  font-size: 44px;
  color: white;
}

.project-row{
  margin-top: 50px;
  margin-bottom: 50px;
}


.project-tagline, .product-tagline{
  display: block;
  line-height: 30px;
  font-size: 24px;
  color: #00ade4;
  font-weight: 200;
  margin-bottom: 20px;
}

.project-date{
  display: block;
  font-size: 12px;
  font-weight: 200;
  color: #555;
}

#jipio{
  font-size: 72px;
  line-height: 72px;
}



/*
================================================
  Products page
================================================
*/
.products {
}

.products h3{
  color: #555;
}

.products h2{
  font-size: 44px;
  color: white;
}

.product-row{
  margin-top: 50px;
}

.product-logo, .project-logo{
  margin-bottom: 36px;
}

.features{
  margin-bottom: 10px;
}

.product-screen {
  margin-top: 50px;
}

/*.browsered .inner {
  background: url("https://a248.e.akamai.net/assets.github.com/images/modules/features/browsered_shadow.png?f9a57a8c") 0 100% no-repeat;
  padding: 14px 16px 35px 13px;
  line-height: 1px;
}

.browsered {
  margin-bottom: -15px;
  width: 460px;
  background: url("https://a248.e.akamai.net/assets.github.com/images/modules/features/browsered_browser.png?e57512ba") 0 0 no-repeat;
}*/

/*
================================================
  Contact page
================================================
*/

.contact{}

.contact h2{
  color:  white;
  font-size: 44px;
}

.contact h3{
  font-weight: 100;
}

.row-contact{
  margin-top: 50px;
}

.address{
  list-style: none;
  margin-left: 0;
}

.address .address-header{
  font-size: 24px;
  font-weight: 100;
  color: #00ade4;
  line-height: 30px;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
  background: url("../img/texture.png");
  background: #f5f5f5;
  padding-bottom: 50px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}
.container .credit {
  margin: 15px 0;
}





































