
/*
================================================
  Generic
================================================
*/

body {
  font-family:"Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 23px;
}

a, .blue {
  color: #63D5F6;
}

header {
  margin: 30px 0 20px 0;
}

.front {
  margin-top: 20px;
}

.tagline{
  text-align: left;
  font-size: 60px;
}

.wrapper {
  background: #00ade4; /* Old browsers */
  background: -moz-linear-gradient(left, #00ade4 0%, #0ce5ff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00ade4), color-stop(100%,#0ce5ff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #00ade4 0%,#0ce5ff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #00ade4 0%,#0ce5ff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #00ade4 0%,#0ce5ff 100%); /* IE10+ */
background: linear-gradient(to right, #00ade4 0%,#0ce5ff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ade4', endColorstr='#0ce5ff',GradientType=1 ); /* IE6-9 */
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  border-top: 1px solid #eee;
  /*box-shadow: 0 0px 1px #333;*/
}

h3 {
  font-weight: 400;
  font-style: normal;
  color: #000;
}

h2 {
  font-weight: 400;
  font-style: normal;
  color: #000;
}

li {
  line-height: 23px;
}

.tright {
  text-align: right;
}

/*
================================================
  Front page
================================================
*/

.front .tagline {
  margin-bottom: 10px;
  font-size: 34px;
  line-height: 35px;
  font-weight: 400;
  padding: 10px 0px;
  text-align: center;
  color: #333;
}

.front .description {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #777;
}

.marketing {
  color: #555;
  margin-top: 10px;
}


/*
================================================
  Header
================================================
*/

header ul.menu {
  text-align: right;
}

header ul.menu li {
  display: inline;
  list-style-type: none;
  margin-left: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #63D5F6;
}

header ul.menu li a {
  font-size: 16px;
}

header ul.menu li a:hover, header ul.menu li.active a {
  font-size: 16px;
  color: #000;
}

header ul.menu li:hover, header ul.menu li.active {
  border-bottom: 1px solid #000;
}

header ul.menu li a:hover {
  text-decoration: none;
}



/*
================================================
  Sidebar
================================================
*/

.sidebar ul.menu {

}

.sidebar ul.menu li {
  list-style-type: none;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

.sidebar ul.menu li:last-child {
  border-bottom: 0;
}

.sidebar ul.menu li a {
  font-size: 16px;
}

.sidebar ul.menu li a:hover {
  text-decoration: none;
}



/*
================================================
  About
================================================
*/

section.about, section.products, section.contact {
  margin-top: 40px;
}

.team img {
  border-radius:10px;
  margin: 10px 10px;
  height: 150px;
}

.team .span2 {
  width: 150px;
  height: 195px;
}


/*
================================================
  Products page
================================================
*/

.browsered .inner {
  background: url("https://a248.e.akamai.net/assets.github.com/images/modules/features/browsered_shadow.png?f9a57a8c") 0 100% no-repeat;
  padding: 14px 16px 35px 13px;
  line-height: 1px;
}

.browsered {
  margin-bottom: -15px;
  width: 460px;
  background: url("https://a248.e.akamai.net/assets.github.com/images/modules/features/browsered_browser.png?e57512ba") 0 0 no-repeat;
}


/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}
.container .credit {
  margin: 15px 0;
}





































