<header id="header">
  <div class="row">
    <div class="span5">
      <a href="/" title="changer" class="logo">
        <img src="/public/img/logo.png" />
      </a>
    </div>
    <div class="span7 pull-right">
      <ul class="menu">
        <li class="blue"><a href="/">Home</a></li>
        <li class="darkblue"><a href="/team.html">About</a></li>
        <li class="green"><a href="/products.html">Products</a></li>
        <li class="brown"><a href="/contact.html">Contact</a></li>
        <li class="blue"><a href="http://blog.changer.nl/">Blog</a></li>
      </ul>
    </div>
  </div>
</header>
