<head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="title" content="{{ page.title }}" />
    <meta name="description" content="{{ page.summary }}" />
    <meta name="keywords" content="{{ page.keywords }}" />

    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:type" content="company"/>
    <meta property="og:site_name" content="{{ page.title }}"/>
    <meta property="og:description" content="{{ page.summary }}" />
    <meta property="og:url" content="http://changer.nl" />

    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://www.changer.nl/layouts/logo-white-335x42.png" />


    <!-- font -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,600,700,800" rel="stylesheet" type="text/css" />

    <!-- CSS -->
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/public/css/app.css" type="text/css" />
</head>
