<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="wrap">
      <div class="header-wrap">
        <div class="container">
          {% include header.html %}
        </div>
      </div>
      <section class="about">
        <div class="hero-wrap">
          <div class="container">
            <div class="row">
              <div class="span12">
                <h2 class="pageheader">About</h2>
                <div class="description">We believe we can make a difference by using the collaborative and conversational powers of the internet. We use these powers in our products to engage and challenge everyone within your organization.
                </div>
                {% include about-sidebar.html %}
              </div>
            </div>
          </div>
        </div>
      {{ content }}
      </section>
      <div id="push"></div>
    </div>

    {% include footer.html %}

    <!-- Google analytics -->
    {% include foot.html %}

  </body>
</html>
